.home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* home.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

ul li {
  display: inline;
}

ul li:not(:last-child)::after {
  content: "|";
  margin: 0 8px;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ff9f00;
}

ul li a.active {
  color: #ff9f00;
}
