.quote-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.quote-container img {
  height: 370px;
  object-fit: cover;
}

.quote-container h2,
.quote-container p {
  color: hsla(240, 7%, 97%, 1);
  text-align: left;
}
