.bigcontainer {
  display: grid;
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  align-items: center;
  justify-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 97px;
  align-items: center;
  justify-items: center;
}

.calculator {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.calculator-display {
  font-size: 24px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.calculator-button {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  width: 60px;
  height: 60px;
  margin: 4px;
}

.calculator-button:hover {
  background-color: #ccc;
}

.heart-sticker {
  font-size: 20px;
  margin-left: 5px;
}
